
body {
  background-image: url("../image/sky.jpeg");
  background-size: cover;
  color: rgb(185, 183, 183);
  font-family: monospace;
  font-size: 1.3em;
  font-weight: bold;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

